.dev-brd {
    border: 1px solid yellow;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
a {
    color: #337ab7;
    text-decoration: none;
}
#top-fixed {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
}
#top-fixed .top-blue-line {
    height: 48px;
}



.top-info {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
}

.top-info .messangers a {
	background-image: url(https://static.hvalwaters.ru/images/layout/messengers.png);
	background-repeat: no-repeat;  
	height: 22px;
	display: inline-block;
	background-size: auto 22px;
	margin-top: 5px;
	margin-right: 4px;
}

.top-info .messangers a:last-child {
	margin-right: 0;
}

.messangers .viber {
	width: 20px;
	background-position-x: -22px;
}


.messangers .whatsapp {
	width: 22px;
	background-position-x: 0;
}


.messangers .instagram {
	width: 22px;
	background-position-x: -42px;
}


.top-blue-line {
    background-color: #0058a3;
}
.top-dummy-spacer {
    height: 150px;
}
.nav-mobile>button:active, .nav-mobile>button:focus, .nav-mobile>button:hover {
    border: none;
    outline: none;
    box-shadow: none;
    color: #a9d6ff;
}
.nav-mobile>button {
    border: none;
    outline: none;
    box-shadow: none;
    background-color: #0058A3;
}
.dropdown-cities {
    font-size: .8rem;
    line-height: 24px;
}
.dropdown-menu span, .dropdown-menu li {
    cursor: pointer;
}
.dropdown-menu li {
    padding-left: 10px;
    padding: 6px;
}
.quantity-select-quantity li:hover, .quantity-select-items li:hover {
    background-color: #F0F5FB;
}
.nav-mobile-location, .nav-mobile-menu-account {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 48px;
}
.navbar-mobile-location-button, .nav-mobile-menu-account a {
    color: #a9d6ff;
    padding: 0px;
    text-decoration: none;
}
.nav-mobile-menu-account span {
    display: block;
}
.nav-mobile-menu-account span:first-of-type {
    float: left;
    margin: 0px;
}
.nav-mobile-menu-account span:last-of-type {
    float: right;
    margin: 0px;
    margin-left: 5px;
}
.nav-mobile-menu-account a:focus, .nav-mobile-menu-account a:active, .nav-mobile-menu-account a:hover {
    text-decoration: none;
}
.navbar-mobile-location-button i {
    float: left;
    font-size:1.6rem;
    display: block;
    padding-top: 10px;
    padding-right: 3px;
}
.nav-mobile-menu-account span {
    font-size: 0.75rem;
    display: inline-block;
    color: #FFF;

}
.nav-mobile-menu-account i {
    font-size:1.6rem;
    padding-top: 10px;
    padding-right: 5px;
    display: block;
    float: left;
}
.nav-mobile-location-top-text {
    font-size: 0.7rem;
    display: block;
    float: left;
    color: #87BCED;
    text-align: left;
    width:60%
}
.top-regular>a {
    white-space: nowrap;
}
.nav-mobile-location-text {
    display: block;
    font-size: 0.8rem;
    float: left;
    color: #FFF;
}
.dropdown-toggle::after {
    display: none;
}
.news-date {
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #DDD;
}
.news-date>span {
    margin-left: 5px;
}
.note {
    text-align: right;
    color: grey;
    border-top: 1px solid grey;
    margin-bottom: 15px;
}
.top-line-mobile {
    display: none;
}
.top-content-gradient {
    background: linear-gradient(to top, #eff5fa 0%, #fff 50% ,#fff 50%);
}
.new-clients-offers h1, .news-container h1{
    color: #0058a3;
    text-align: center;
}
#top-banners {

}
.express-order {
    background-color: #F0F5FB;
    border-radius: 5px;
    height: 130px;
    color: #0058a3;
    padding-left: 0px;
    padding-right: 0px;
    
}
.movie-banner {
    height: 150px;
    color: #0058a3;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}
.express-order .time-select {
    float: left;
    padding-left: 10px;
    padding-top:15px;
    padding-right: 3px;
    z-index: 2;
}
.express-order .time-select-top {
    padding-top:10px;
    margin-right: 20px;
    background: url(https://static.hvalwaters.ru/images/layout/clock-icon.png) no-repeat right bottom;
}
.time-break-line {
    display: none;
}
.express-order .time-select-top>span {
    display: block;
    font-size: 12px;
    font-weight: 500;
}

.express-order .time-select-bottom {
    display: block;
 
}
.express-order .time-select-bottom > span {
    font-size: 18px;
    font-weight: 300;
    color: #4660a6;
    display: block;
    background: linear-gradient(to left, rgba(240,245,251,0) 0%,rgba(240,245,251,1) 20px);
}

.express-order .time-select-bottom>span>span {
	font-weight: 700 !important;
}

.time-select-bottom-time {
    font-weight: 700;
}
.express-order .quantity-select {
    float: right;
    padding-right: 10px;
    padding-left: 3px;
    z-index: 2;
}
.express-order .order-top {

}
.express-order-quantity-element {

}
.express-order .order-top>span {
    display: block;
    font-size: 18px;
    padding-top:24px;
    background-color: rgba(240,245,251,0.5);
}
.btn-product-select, .btn-product-quantity, .btn-order  {
    border: 1px solid #d7e0e6;
    font-size: 11px;
    color: black;
    border-radius: 0;
    background-color: white;
    height: 30px;
    padding-right: 7px;
    text-align: left;
}
.btn-product-quantity {
    margin-top: 5px;
    float: left;
    width: 40%;
}
.btn-product-select {
    width: 100%;
    float: right;
}
.btn-product-select:focus, .btn-product-select:active, .btn-product-quantity:focus, .btn-product-quantity:active, .btn-order:focus, .btn-order:active {
    outline: none;
    box-shadow: 0 0 0 0.05rem rgba(0,0,0,.25);
}
.advantages-list {
    max-width: 3000px;
}
.btn-order {
    margin-top: 5px;
    float: right;
    width: 55%;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
	background-color: #0058a3;
	color: white;
}
.caret:after {
    display: block;
    float: right;
    margin-left: 3px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0d7";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
}
.quantity-select-items, .quantity-select-quantity {
    font-size: 12px;
    color: black;
    padding-left: 0;
    width: 95%;
}
.quantity-select-items>li {
    padding-top: 6px;
    padding-bottom: 6px;
}
.offers-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0px;
    width: 100%;
}
.offers-column li {
    display: flex;
    width: 100%;
    padding-left: 2px;
}
.offers-column>li img {
    max-width:100%;
}
.offer-1 {
    order: 1;
}
.offer-2 {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid #ddd;
    order: 5;
}
.offer-3 {
    order: 2;
}
.offer-4 {
    order: 6;
}
.offer-5 {
    order: 3;
}
.offer-6 {
    order: 7;
}
.offer-7 {
    order: 4;
}
.offer-8 {
    order: 8;
}
.news-inner {
    display:block;
    width: 100%;
}
.news-container, .bottom-promo-container {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.news-article p {
    text-align: justify;
    padding-top: 16px;
    font-size: 14px;
}
.news-article a {
    text-decoration: underline;
}
.basket-mobile {
    display:none;
}
.nav-mobile-menu-button {
    display: none;
}
.bottom-promo {
    display: flex;
    width: 100%;
}
.bottom-promo-container img {
    max-width: 100%;
    border-radius: 10px;
}
.movie-banner img {
    max-height: 100%;
}
p.top-text-top-line, p.top-text-middle-line, p.top-text-bottom-line {
    margin: 0px;
    padding: 0px;
    line-height: 0.6em;
    /* float: right; */
}
.top-regular {
    font-size: 0.55em;
    color: #a9d6ff;
}
.top-light {
    color: #FFF;
}
.top-menu-middle-text {
    margin: auto 0;
    text-align: right;
}
.top-menu-middle-text a, .top-menu-middle-text a:hover, .top-menu-middle-text a:focus {
    color: #FFF;
    text-decoration: none;
    /*
    margin-left: 0.5em;
    margin-right: 0.5em;
    */
}
.top-menu-right-phone {
    line-height: 48px;
    text-align: right;
    padding-right: 5px;
    padding-left: 0px;
    white-space: nowrap;
}
.top-menu-right-phone a, .top-menu-right-phone a:hover, .top-menu-right-phone a:focus {
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: none;
}
.top-text-telephone {
    margin-left: 5px;
}
.navbar-mobile-location-button i {
    padding-top: 5px;
}
.right-spacer, .left-spacer {
    display: none;
}
.no-break {
    white-space: nowrap; 
}
.desktop-menu-main-item {
    display: none;
}
.express-order-bottles {

}
.main-content {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
}
.main-middle {
    width: 100%;
    max-width: 1100px;
    display: flex;
    padding: 10px;
    /*    box-shadow: inset 0 5px 5px rgba(0,0,0,0.2); */

}
.main-left-spacer, .main-right-spacer {
    display: flex;
    width: calc(50% - 550px);
    z-index: -10;
    /*    box-shadow: inset 0 5px 5px rgba(0,0,0,0.2); */

}
.main-left-spacer {
    background: #ffeb00 url(https://static.hvalwaters.ru/images/layout/left-bg-yellow.png) repeat-y right top;
    box-sizing: content-box;
}
.main-right-spacer {
    background: #51AF2E url(https://static.hvalwaters.ru/images/layout/right-bg-green.png) repeat-y left top;

}
.spacer-inner {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 90%);

}
.main-middle-inner {
    display: block;
    padding-top: 15px;
    width:100%;
}
.main-middle h2 {
    font-size: 16px;
    color: #0058a3;
    text-align: center;
    font-weight: 700;
    background: url(https://static.hvalwaters.ru/images/layout/advantages-bg-line.png) no-repeat center;   
}
.offers-detail {
    display: none;
}
.news-article {
    display: flex;
    width: 100%;
}
.bottom-promo img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.bottom-promo-container {
    margin-top: 15px;
    margin-bottom: 35px;
}
.bottom-promo {
    align-content: center;
    align-items: center;

}
.bottom-promo-inner {
    display: block;

    border:1px solid #e2e2e2;
    margin: auto;
    border-radius: 12px;
}
.env-top { 
    display: none;
}
.full-special-offer {
    display: none;
}
@media screen and (min-width: 576px) {
    .offers-column li {
        width: 50%;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
        align-items: center;
    }
    .offers-column li:nth-child(odd){
        border-right: 2px solid #dddddd;
    }
    .offer-1 {
        order: 1;
    }
    .offer-2 {
        border-top: none;
        margin-top: 0px;
        order: 2;
    }
    .offer-3 {
        order: 3;
    }
    .offer-4 {
        order: 4;
    }
    .offer-5 {
        order: 5;
    }
    .offer-6 {
        order: 6;
    }
    .offer-7 {
        order: 7;
    }
    .offer-8 {
        order: 8;
    }
    .news-article {
        display: flex;
        width: 50%;
    }
    .news-article:last-of-type {
        display: none;
    }
    .news-inner {
        padding-right: 5px;
        padding-left: 5px;
    }

}
@media screen and (min-width: 768px) {
    .top-menu-hor-divider {
        color: #fff;

    }
    .nav-mobile-menu-account a {
        display: block;
        padding-top: 5px;
        padding-left: 10px;
        line-height: 34px;
        height: 100%;
        width: 120%;
    }
    .nav-mobile-menu-account span {

    }
    .nav-mobile-menu-account a>i {
        padding-top: 5px;
    }
    .nav-mobile-menu-account span:last-of-type {
        float: left;
        margin: 0px;
        padding-top: 0px;
        padding-left: 5px;
    }
    .delivery-time, .delivery-time>span, .delivery-time>span>span, span.reclamation {
        display: block;
        line-height: 13px;
    }
    .reclamation {
        padding-top: 2px;
    }
    .desktop-menu-row {
        height: 68px;
    }
    .top-menu-desktop a {
        text-decoration: none;
    }
    .top-menu-desktop {
        display: flex;
        width: 100%;
        border: none;
        margin-top: 0px;
        position: static;
        padding-top: 0px;
    }
    .top-menu-desktop>li {
        flex-basis: auto;
        flex-grow: 1;
        display: block;
        float: left;
        min-width: 8%;
        font-size: 0.6em;
        text-align: center;
        height: 60px;
        padding: 10px 0px;
    }
    .top-nav-submenu {
        color: #337ab7;
    }
    /* .top-menu-desktop>li:not(:first-of-type):hover a, ,  .top-menu-desktop>li:not(:first-of-type):hover span */
    .top-menu-desktop>li:not(:first-of-type):hover {
        background-color: #0058a3;
        color: #fff;
    }
    .top-menu-desktop>li:not(:first-of-type):hover span {
        color: #fff;
    }
    .top-menu-desktop>li:not(:first-of-type):hover .desktop-menu-item {
        border-right: yellow;
    }
    .off-top-menu-desktop>li:not(:first-of-type):hover:after {
        content: '';
        position: absolute;
        top: 0px;
        margin-left: -3px;
        border: 6px solid transparent;	
        border-top: 6px solid #0058a3;
    }
    .top-menu-desktop>li:first-of-type {
        border-right: none;
    }
    .top-menu-desktop>li:first-of-type:hover {
        background-color: transparent;
        border-right: none;
    }
    .top-menu-desktop>li:last-of-type {
        border-right: none;
    }
    .desktop-menu-item {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0px 2px;
        border-right: 1px solid #c7d9e7;
    }
    .top-menu-item:last-child .desktop-menu-item{
        border-right: none;
    }
    .top-menu-desktop .fa-caret-down {
        display: none;
    }
    .top-menu-sub-item .desktop-menu-item {
        border-right: none;
        width: 100%;
        height: 100%;
    }
    .dropdown-toggle {
        white-space: normal;
    }
    .top-line-menu {
        background-color: #fff;
    }
    .pretty-disappear {
        height: 10px;
        background: linear-gradient(to top, rgba(255,255,255,0) 0px, rgba(255,255,255,1) 10px);
    }
    /*$$$$$ Acive menu */
    .top-menu-active {
        background-color: #eee;
    }
    .top-menu-active:hover {
        background-color: #eee;
        font-weight: 900;
    }
    .top-menu-desktop>li:first-of-type .desktop-menu-item {
        display: none;
    }
    /*
    .desktop-menu-main-item {
        display: block;
        background: url(https://static.hvalwaters.ru/images/layout/logo.png) no-repeat;
        background-size: contain;
        width: 120px;
        height: 108px;
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 120px;
        z-index: 10;
    }
    */
    
    .desktop-menu-main-item {
        display: block;
        background: url(https://static.hvalwaters.ru/images/layout/logo.png) no-repeat;
        background-size: contain;
        width: 120px;
        height: 108px;
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 120px;
        z-index: 10;
    }
    
    ul.top-nav-submenu-list {
        padding-top: 0px;
        padding-bottom: 1px;
        margin-top: 0px;
        border-color: #0058a3;
        border-top-left-radius: 0;
        width: 350px;
        background-color: #0058a3;
    }
    .top-nav-submenu-list>li {
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid #C9C9C9;
    }
    .top-nav-submenu-list>li:last-of-type {
        border-bottom: none;
        padding-bottom: 0px;
    }
    .top-menu-desktop li:hover {
        background-color: #004b8a;
    }
    .time-select-bottom, .time-select-top {
        max-width: 175px;
    }
    .top-nav-submenu-list a, .top-nav-submenu-list a:hover, .top-nav-submenu-list a:focus {
        color: #fff;        
    }
    .advantages {
        margin-top: 20px;
    }
    .advantages h3 {
        font-size: 20px;
        color: #0058a3;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        background: url(https://static.hvalwaters.ru/images/layout/advantages-bg-line.png) no-repeat center;
    }
    .advantages-list {
        width: 100%;
        height: 120px;
        display: block;
        list-style: none;
        padding: 0px;
    }
    .advantages-list>li {
        float: left;
        display: block;
        width: 25%;
        height: 120px;
    }
    .advantages-list>li:not(:first-of-type){
        padding-left: 10px;
    }
    .advantages-list>li>a:hover .adv-pict {
        background-position-y: -39px;
    }
    .advantage-1 {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-icon-1.png) no-repeat top right;
    }
    .advantage-1 .adv-pict {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-numbers.png) no-repeat 0px 0px;
    }
    .advantage-2 {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-icon-2.png) no-repeat top right;
    }
    .advantage-2 .adv-pict {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-numbers.png) no-repeat -39px 0px;
    }    
    .advantage-3 {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-icon-3.png) no-repeat top right;
    }
    .advantage-3 .adv-pict {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-numbers.png) no-repeat -78px 0px;   
    }    
    .advantage-4 {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-icon-4.png) no-repeat top right;
    }
    .advantage-4 .adv-pict {
        background: url(https://static.hvalwaters.ru/images/layout/advantage-numbers.png) no-repeat -117px 0px;
    }    
    .advantage-inner {
        display: block;
        height: 100%;
        width: 100%;
    }
    .advantage-inner .adv-pict {
        height: 39px;
        width: 39px;
        display: inline-block;
        float: left;
        margin-right: 12px;
    }
    .adv-1, .adv-2 {
        display: block;
        margin-left: 51px;
        margin-right: 100px;
    }
    .advantages a:hover {
        text-decoration: none;
    }
    .adv-1 {
        font-size: 1.2vw;
        font-weight: 300;
    }
    .adv-2 {
        font-size: 0.85vw;
        font-weight: lighter;
    }
    .middle-fixed {
        background-color: #d7e0e6;
    }
    .note {
        float: right;
        width: 80%;
        font-size: 10px;
    }
    .news-article {
        display: flex;
        width: 33%;
    }
    .news-article:last-of-type {
        display: flex;
    }
    .news-inner {
        padding-right: 7px;
        padding-left: 7px;
    }
    .bottom-promo {
        width: 33%;
        padding-left: 7px;
        padding-right: 7px;
    }
    .footer {
        background-color: #dedede;
    }
    .footer-menu ul {
        padding: 40px 0px;
        list-style: none;
        display: flex;
        width: 100%;
        max-width: 1100px;
        margin: auto;
        flex-direction: row;
        border-bottom: 1px solid #c2c2c2;
    }
    .footer-menu ul li {
        display: flex;
        flex-basis: auto;
        flex-grow: 1;
        text-align: center;
    }
    .footer-menu ul li a {
        padding: 5px 10px;
        font-size: 10px;
        color: #4e4e4e;
        font-weight: 400;
        display: block;
        width: 100%;
        height: 100%;
    }
    .footer-menu ul li a span {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .footer-menu ul li a:hover {
        text-decoration: none;
        outline: 1px solid #d0d0d0;
        background-color: #e5e5e5;
    }
    .footer-partners {
        padding-top: 20px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 20px;
    }
    .footer-partners span {

    }
    .footer-partners-list {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        max-width: 1100px;
        margin: auto;
    }
    .footer-partners-list li {
        display: flex;
        width: 20%;
    }
    .footer-partners-list li a {
        margin: auto;
    }
    .footer-partners-list li img {
        max-width: 100%;
    }
    .footer-about {
        width: 100%;
        max-width: 1100px;
        height: 95px;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .footer-logo {
        height: 55px;
        float: left;
        width: 30%;
        text-align: right;
    }
    .footer-logo a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .footer-about-text {
        float: right;
        line-height: 65px;
        font-size: 15px;
        width: 69%;
        text-align: left;
    }
    .footer-logo img {
        height: 100%;
    }
    .footer-note {
        text-align: right;
        color: #6e6e6e;
        font-size: 10px;
    }
    .mobile-text {
        display: none;
    }
    .special-offer {

    }
    .full-special-offer {
        position: fixed;
        display: block;
        width: 200px;
        height: 200px;
        bottom: 0px;
        left: 0px;
        background: url('https://static.hvalwaters.ru/images/layout/on-time.png');
    }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .nav-mobile-menu-account a {
        width: 120%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .nav-mobile-location {
        padding-left: .4em;
    }
    .nav-mobile-location, .nav-mobile-menu-account {
        line-height: inherit;
        padding-right: 2px;
    }
    .nav-mobile-menu-account span {
        padding-left: .5em;
    }
    .nav-mobile-location-top-text {
        padding-top: 5px;
    }
    span.city-change {
        font-size: .8rem;
    }
    .top-blue-line a {
        text-decoration: none;
    }
    .navbar-mobile-location-button i {
        padding-top: 10px;
    }
    .nav-mobile-location-text {
        font-size: 0.75em;
    }
    .top-menu-right-phone {
        /* padding-right: .4em; */
        text-align: right;
    }
    .top-menu-middle-text {
        padding-right: 0px;
    }
    .top-menu-hor-divider {
        margin-left: 8px;
    }
    .top-menu-middle-text a, .top-menu-middle-text a:hover, .top-menu-middle-text a:focus {
        margin-right: 0px;
        margin-left: 1em;
    }
    .desktop-menu-main-item {
        height: 67px;
        width: 73px;
        left: -2px;
    }
}
@media screen and (min-width: 1200px) {
    .nav-mobile-menu-account {
        line-height: 14px;
    }
    .nav-mobile-menu-account span:first-of-type {
        margin-left: 5px;
    }
    .nav-mobile-menu-account span:last-of-type {

    }
    .nav-mobile-menu-account a {
        width: 140%;
        margin-left: -30%;
    }
    .top-menu-middle-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 0px;
    }
    span.delivery-time {
        display: flex;
        width: 64%;
        flex-wrap: wrap;
        flex-direction: column;
        align-content:center;
        justify-content:flex-end;
    }
    span.reclamation {
        display: flex;
        width: 36%;
        align-content:center;
        justify-content:center;
    }
    .top-regular {
        white-space: pre;
        font-size: 0.7rem;
    }
    .time-break-line {
        display: inline;
    }
    .time-divider {
        display: none;
    }
    span.top-text-bottom-line span {
        display: block;
    }
    span.top-text-bottom-line span.top-menu-hor-divider {
        display: none;
    }
    
    span.reclamation {
       text-align: left;
    }
    
    span.reclamation  a {
	    margin: 0;
	}
	    
	    
    .desktop-menu-main-item {
        left: -35px;
    }
    .env-top {
        display: block;
        margin-right: 5px;
    }
    .middle-fixed {
        width: 1200px;

    }
    #top-fixed .right-spacer, #top-fixed .left-spacer {
        display: block;
        background-color: #FFF;
    }
    .right-spacer, .left-spacer {
        display: block;
    }
    .top-menu-desktop li {
        font-size: 14px;
        font-weight: 400;
    }
    .express-order-bottles {

        height: 182px;
        width: auto;
        top: -26px;
        left: -50px;
        z-index: 1;
    }
    .express-order-bottles>img {

    }
    .offers-detail {
        display: block;
        width:100%;

    }
    .offers-detail-left {
        width: 50%;
    }
    .offers-detail-left a, .offers-detail-right a {
        text-decoration: none;
        font-weight: 700;
    }
    .offers-detail-right a {
        color: #ffeb00;
    }
    .offers-detail-left a {
        color: #5BB43B;
    }
    .offers-detail-left {
        float: left;
    }
    .offers-detail-left span {
        /* width: calc(100vw - 990px); */
        width: calc(50vw - 350px);
        height: 30px;
        line-height: 32px;
        display: block;
        background-color: #ffeb00;
        background: linear-gradient(to left, #ffeb00 0%, #ffeb00 80% , transparent 100%);
        margin-left: calc(-50vw + 550px);
        text-align: right;
        padding-right: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .offers-detail-right span {
        /*width: 210px;*/
        width: calc(50vw - 350px);
        height: 30px;
        line-height: 32px;
        display: block;
        background-color: #5BB43B;
        background: linear-gradient(to right, #5BB43B 0%, #5BB43B 80% , transparent 100%);
        /* margin-right: -60px; */
        margin-right: calc(-50vw + 550px);
        text-align: left;
        padding-left: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .offers-detail-right {
        float: right;
    }
    .footer-menu ul li a {
        font-size: 14px;
    }
}
@media screen and (min-width: 1500px) {
    .top-regular {
        font-size: 0.8rem;
    }
    span.reclamation {
        line-height: 15px;
    }
}
@media screen and (max-width: 767px) {
    #top-fixed .top-blue-line {
        height: 43px;
    }
    .top-dummy-spacer {
        height: 80px;
    }
    .top-line-mobile {
        height: 40px;
        display: block;
        background-color: #FFF;
    }
    .phone-mobile {
        font-size: 18px;
        padding-top: 6px;
        padding-left: 7px;
        padding-right: 0px;
    }
    .phone-mobile a {
        color: black;
        text-decoration: none;
        /* padding-left: 20px; */
        background: rgba(0, 0, 0, 0) url(https://static.hvalwaters.ru/images/layout/phone-icon.png) no-repeat scroll left center;
    }
    .basket-mobile {
        font-size: 14px;
        padding-top: 6px;
        padding-right: 7px;
        padding-left: 0px;

    }
    .basket-mobile a {
        height: 24px;
        display: block;
        padding-left: 30px;
        padding-top: 3px;
        float: right;
        background: rgba(0, 0, 0, 0) url(https://static.hvalwaters.ru/images/layout/basket.svg) no-repeat;
    }
    .navbar-mobile-button {
        display: block;
    }
    .nav-mobile-menu-button {
        padding: 0px;
        height: 42px;
    }
    .navbar-toggle {
        font-size: 22px;
    }
    .nav-mobile-location {
        padding-left: 3px;
    }
    .nav-mobile-menu-button {
        display: block;
        min-width: 30px;
    }
    .nav-mobile-location-tworows {
        display: block;
    }
    .navbar-mobile-location-button {
        font-size: 22px;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
        float: left;
    }
    .navbar-mobile-location-button:hover {
        color: #EFF;
    }
    .navbar-mobile-location-button>i {
        float: left;
        padding-top: 4px;
        color: #87BCED;
    }
    .nav-mobile-location-top-text {
        font-size: 10px;
        padding-left: 5px;
        float: left;
        color: #87BCED;
    }
    .nav-mobile-location-text {
        font-size: 14px;
        padding-left: 5px;
        float: left;
        margin-top: -3px;
    }
    .nav-mobile>button {
        background: none;
        color: #FFF;
        border: none;
        box-shadow: none;
        padding-top: 4px;
    }
    .nav-mobile-menu-account {
        line-height: 42px;;
        padding-right: 4px;
    }
    .nav-mobile-menu-account>a {
        float: right;
        font-size: 13px;
        color: #FFF;
        /* text-decoration:  underline; */
    }
    .nav-mobile-menu-account>a>i {
        font-size: 22px;
        float: left;
        color: #87BCED;
        padding-top: 7px;
        padding-right: 5px;
    }
    .nav-mobile-menu-account>a>span {
        display: block;
        /* padding-top: 10px; */
        margin-left: 25px;
        padding-left: 2px;
    }
    .dropdown-cities {
        background-color: #97CCFD;
    }
    .city-select-hover{
        background-color: #FFF;
    }
    .navbar-collapse:not(.show) {
        display: none;
    }
    .top-line-menu {
        background-color: #EEE;
    }
    .top-line-menu ul {

    }
    .top-menu.dropdown-menu {
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    .top-nav-submenu>i {
        padding-left: 3px;
    }
    .dropdown-toggle::after {
        display: none;
    }
    span.top-nav-submenu {
        color: #337ab7;
    }
    .top-nav-submenu-list {
        margin-left: 10px;
        padding-left: 8px;
        padding-right: 8px;       
    }
    .top-menu li {
        border-bottom: 1px dashed #F2F2F2;
        padding: 7px;
    }
    .top-menu li:last-of-type {
        border-bottom: none;
    }
    li.top-menu-item:nth-last-child(2) {
        border-bottom: none;        
    }
    .top-menu-item.basket {
        display: none;
    }
    .express-order {
        width: 100%;
    }
    .movie-banner {
        width: 100%;
        text-align: center;
    }
    .movie-banner img {
        max-width: 100%;
    }
    .advantages {
        display: none;
    }
    .new-clients-offers {
        padding-top: 10px;
    }
    .new-clients-offers h1, .news-container h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    #top-banners {
        padding-bottom: 10px;
    }
    .note {
        font-size: 8px;
    }
    .news-article {
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-container {
        display: none;
    }
    .special-offer {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        padding:0px;
        height: auto;
        font-size: 14px;
        color: #FFF;
        background-color: #F00;
        text-align: center;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    }
    .special-offer a {
        color: #FFF;
        text-decoration: underline;
    }
    .special-offer i {
        margin-left: 3px;
    }
    .col-menu-mobile-hide {
        display: none;
    }
}


@media screen and (max-width: 399px) {
    .basket-mobile {
        font-size: 3.5vw;
    }
    .phone-mobile {
        font-size: 4.8vw;
    }
    .nav-mobile-location-text {
        font-size: 3.7vw;
    }
    .nav-mobile-menu-account>a>span {
        font-size: 3vw;
    }
    .express-order .time-select-top {
        margin-right: 5px;
    }
    .express-order .time-select-bottom>span {
        font-size: 4.5vw;
    }
    .btn-product-select {
        padding-left: 1.5vw;
        padding-right: 1.1vw;
        overflow-x: hidden;
    }
    .btn-product-quantity {
        padding-left: 2vw;
    }
    .caret:after {
        margin-left: 0px;
    }
    .movie-banner {
        padding-top: 10px;
    }
}